GOOGLE_API_KEY="Your API Key" #use your google ai studio api
GOOGLE_API_URL=`https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-latest:generateContent` #use backtick (``)
SESSION_SECRET=very_long_and_random_session_secret_key #7 words minimum key 
PORT=3001 #select your port
SESSION_ID= #use your random (whatever) session id. This is for persistent memory from Gemini
EXTRACTION_TIMEOUT= # milliseconds 
API_TIMEOUT= # milliseconds
MAX_HISTORY_LENGTH= # session tokens
MAX_HISTORY_ENTRY_LENGTH= # db tokens
MAX_FILE_CONTENT_LENGTH= # file tokens
MAX_FILES_IN_FOLDER= # amount of files
MAX_FILE_SIZE_MB= # size in MB
MAX_FILE_SIZE_MB= # size in MB
# NODE_ENV=production # Uncomment this if you want make production (cookie secure purpose)